/* Style for main map */
.indonesia {
    fill: #f0e4dd;
    stroke: #e0cabc;
    stroke-width: 0.5;
	fill-opacity = 0.5;
}

/* On mouse hover, lighten state color */
/* Reference: http://bl.ocks.org/michellechandra/0b2ce4923dc9b5809922 */
.indonesia:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align:center;           
	width: 250px;                  
	height: 28px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: lightsteelblue;
	white-space: pre; 
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}

.labels {
	font-family: serif;
	font-size: 10px;
	font-weight: bold;
	fill: black;
	fill-opacity: 1;
}

.title {
	position:absolute;
	left:550px;
	top:50px;
}

.legend {
	position:absolute;
	left:100px;
	top:750px;
}

